body {
    background-color:black;
    color:red;
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
}

h1 { 
    font-style:oblique;
    text-align: center;
    font-size: 64px;
    font-weight:bolder;
}

